@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100dvh;
  color: white;
  overflow: hidden;
}

#root {
  min-height: 100dvh;
  width: 100%;
}